{{ define "display-values" }}
<!-- <script src="static/prism.js"></script> -->
<div id="display-values" hx-get="/display-values" hx-trigger="valuesChanged from:body">
<script src="https://unpkg.com/prismjs@v1.29.0/components/prism-core.min.js"></script>
<script src="https://unpkg.com/prismjs@v1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
  <pre class="prism-code language-yml"><code>---
# Chart.yaml
{{ with .Chart -}}
name: {{.Name}} 
appVersion: {{.AppVersion}} 
dependencies: {{range $k, $v := .Dependencies}} 
    {{$k}}: {{$v}} 
    {{- end}}
{{- end}}
{{ with .Values -}}
---
# values.yaml
uhc:
  replicaCount: {{ .Uhc.ReplicaCount }} 
  image: 
    repository: {{ .Uhc.Image.Repository }} 
    tag: {{ .Uhc.Image.Tag }} 
  resources:
    requests:
      cpu: {{ .Uhc.Resources.Requests.CPU }}
      memory: {{ .Uhc.Resources.Requests.Memory }}
    limits:
      cpu: {{ .Uhc.Resources.Limits.CPU }}
      memory: {{ .Uhc.Resources.Limits.Memory }}
  ports:
    - name: http
      containerPort: {{ .Uhc.Ports.ContainerPort }}
      protocol: tcp
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: "node-type"
              operator: "In"
              values:
                - {{ range .Uhc.Affinity.NodeAffinity.RequiredDuringSchedulingIgnoredDuringExecution.NodeSelectorTerms}}{{range .MatchExpressions }}{{ range .Values }}{{ . }}{{end}}{{end}}{{end -}}    
{{ with .Uhc.Tolerations }}
{{ range .}}
  tolerations:
    - effect: {{ index . "effect" }}
      key: {{ index . "key" }}
      operator: {{ index . "operator" }}
      value: {{ index . "value" }}
{{- end }}
{{ end -}}
{{ with .Uhc.Hpa }}
  hpa:
    enabled: {{ .Enabled }} 
    minReplicas: {{ .MinReplicas }} 
    maxReplicas: {{ .MaxReplicas }} 
{{- end}}
{{with .Uhc.Env}}
  env:
{{range .}}  - name: {{.Name}}
    value: {{.Value}}
{{end}}
{{end}}
{{end -}}
</code></pre>
</div>
{{ end }}
