{{ define "display-values" }}
<script src="static/prism.js"></script>
<div id="display-values" class="col" hx-get="/display-values" hx-swap="display-values" hx-trigger="valuesChanged from:body">
  <h1 class="mb-4">Service declaration</h1>
  <pre class="prism-code language-yml"><code>---
# Chart.yaml
{{ with .Chart }}
name: csgo-editor
appVersion: 0.1.0
dependencies:
  uhc: 0.30.1
---
# values.yaml
{{ with .Values}}
uhc:
  replicaCount: {{ .Uhc.ReplicaCount }} 
  image: 
    repository: {{ .Uhc.Image.Repository }} 
    tag: {{ .Uhc.Image.Tag }} 
  resources:
    requests:
      cpu: {{ .Uhc.Resources.Requests.CPU }}
      memory: {{ .Uhc.Resources.Requests.Memory }}
    limits:
      cpu: {{ .Uhc.Resources.Limits.CPU }}
      memory: {{ .Uhc.Resources.Limits.Memory }}
  ports:
    - name: http
      containerPort: {{ .Uhc.Ports.ContainerPort }}
      protocol: tcp
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: "node-type"
              operator: "In"
              values:
                - {{ range .Uhc.Affinity.NodeAffinity.RequiredDuringSchedulingIgnoredDuringExecution.NodeSelectorTerms}}{{range .MatchExpressions }}{{ range .Values }}{{ . }}{{end}}{{end}}{{end}}    
{{ with .Uhc.Hpa}}
  hpa:
    enabled: {{ .Enabled }} 
    minReplicas: {{ .MinReplicas }} 
    maxReplicas: {{ .MaxReplicas }} 
{{ end }}
{{with .Uhc.Env}}
  env:
{{range .}}  - name: {{.Name}}
    value: {{.Value}}
{{end}}
{{end}}
{{end}}
</code></pre>
</div>
{{ end }}
