{{ define "service-options" }}
<div id="service-options" class="col">
  <h1>Specify service options</h1>
    <form class="col" hx-post="/edit" hx-swap="none">
      <div class="form-group mb-2 col-8">
        <label for="replicas">Replicas</label>
        <input type="range" name="replicas" id="replicas-count" list="replica-number" class="form-range" min="0" max="8" value="0">

      <datalist id="replica-number">
        <option value="[object Set]"></option>
      </datalist>
        <span class="range-view">0</span>
      </div>
      <div class="form-group mb-2 col-3">
        <label for="replicas">Image</label>
        <input type="text" name="image" id="image" class="form-control input-sm">
      </div>
      <div class="form-group mb-2 col-3">
        <label for="replicas">Tag</label>
        <input type="text" name="tag" id="tag" class="form-control input-sm">
      </div>
      <button type="submit" class="btn btn-primary text-left" >
        <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
        Submit
      </button>
    </form>
</div>
{{ end }}
